/* .container {
  width: 70%;
  margin: auto;
  text-align: center;
} */

body {
  text-align: center;
  height: 100vh;
  background: hsla(285, 42%, 33%, 1);

  background: linear-gradient(90deg, hsla(285, 42%, 33%, 1) 0%, hsla(333, 54%, 51%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(285, 42%, 33%, 1) 0%, hsla(333, 54%, 51%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(285, 42%, 33%, 1) 0%, hsla(333, 54%, 51%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#663177", endColorstr="#C63F7B", GradientType=1 );
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;  
  }
  
  p {
    font-size: 2rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463; 
  }
  
  img {
    width: 40%;
  }
  .buttons{
    display: flex;
    justify-content: center;
  }
  .btn{
    margin: 10px;
  }
  footer {
    margin-top: 5%;
    color: #090101;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  /* .box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .dice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1000px) {
    .box {
      flex-direction: column;
      height: 100%;
    }
  } */