/* .container {
  width: 70%;
  margin: auto;
  text-align: center;
} */

body {
  text-align: center;
  background-image: linear-gradient(to right top, #ffeef4, #ffebec, #fde8e3, #f8e6db, #f1e5d5, #e7dfcc, #ddd9c3, #d1d4bc, #c2c8ad, #b3bd9f, #a4b191, #94a684);
  height: 100vh;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;  
  }
  
  p {
    font-size: 2rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463; 
  }
  
  img {
    width: 40%;
  }
  .buttons{
    display: flex;
    justify-content: center;
  }
  .btn{
    margin: 10px;
  }
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  /* .box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .dice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1000px) {
    .box {
      flex-direction: column;
      height: 100%;
    }
  } */