body {
  text-align: center;
  background-image: linear-gradient(to right top, #ffeef4, #ffebec, #fde8e3, #f8e6db, #f1e5d5, #e7dfcc, #ddd9c3, #d1d4bc, #c2c8ad, #b3bd9f, #a4b191, #94a684);
  height: 100vh;
}

#level-title {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;  
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
